body {
    background-image: url('../../assets/background.jpg');
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}

.container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.first-div {
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 800px;
}

.second-div {
    width: 50%;
    background-color: #602112;
    width: 700px;
    height: 970px;
    margin-left: 60px;
    border-radius: 10px;
}

.inner-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #602112;
    border-radius: 15px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
}

.text-inner {
    margin-left: 40px;
}

.images {
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: right;
}

img {
    width: 60px;
    height: 60px;
    padding: 10px;
}

p {
    text-align: center;
    color: #FFF;
    margin-top: 15px;
    font-family: Island Moments;
    font-size: 40px;
    height: 20px;
}

h3 {
    text-align: center;
    color: #FFF;
    margin-top: 15px;
    font-family: Island Moments;
    font-size: 60px;
    height: 20px;
}

input[type="text"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 600px;
    font-family: Island Moments;
    font-size: 30px;
}

textarea {
    padding: 10px;
    margin: 5px;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Island Moments;
    font-size: 30px;
}

.center {
    margin-bottom: 10px;
    text-align: center;
}

.addition {
    height: 200px;
}

.button {
    padding: 10px;
    margin: 5px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 250px;
    font-family: Island Moments;
    font-size: 30px;
    cursor: pointer;
}

.input-picture {
    margin-top: 10px;
    margin-left: 60px;
    width: 180px;
    height: 180px;
}

.flex-btn-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Island Moments;
    font-size: 40px;
    color: #FFF;
}

.second-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.submit-button {
    margin-top: 30px;
    background-color: #602112;
    width: 260px;
    color: #FFF;
    font-family: Island Moments;
    font-size: 40px;
    cursor: pointer;
    border-radius: 20px;
    height: 60px;
    text-align: center;
}

.size-radio {
    width: 18px;
    height: 18px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

.dialog {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 150px;
    text-align: center;
}

.dialog h2 {
    color: #333;
}

.dialog p {
    color: #666;
}

.dialog button {
    background-color: #602112;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 40px;
    font-family: Island Moments;
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1600px) {
    .first-div{
        margin-left: auto;
        margin-right: auto;
    }

    .second-div{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}