<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Island Moments">
</head>

<body>
    <div class="container">
        <div class="first-div">
            <div class="inner-div" *ngFor="let k of kasa">
                <div class="text-inner" *ngIf="kasa.length>0">
                    <p>Korisinčko ime: {{k.kupac.korisnickoIme}}</p>
                    <p>Porudžbina broj: {{k.porudzbina.broj}}</p>
                    <p>Cena: {{k.porudzbina.cena}} din</p>
                </div>
                <div class="images">
                    <img src="../../assets/green.png" (click)="odobravanje(k)">
                    <img src="../../assets/red.png" (click)="odbijanje(k)">
                </div>
            </div>
            <div *ngIf="kasa.length==0">
                <h5>Trenutno nema porudžbina!</h5>
            </div>
        </div>
        <div class="second-div">
            <h3>Dodavanje proizvoda</h3>
            <div class="center">
                <input type="text" placeholder="Naziv proizvoda" [(ngModel)]="naziv" required>
            </div>
            <div class="center">
                <textarea rows="2" placeholder="Opis proizvoda" class="addition" [(ngModel)]="opis" required></textarea>
            </div>
            <div class="center">
                <textarea rows="1" placeholder="Sastojci" [(ngModel)]="sastojci" required></textarea>
            </div>
            <div class="center">
                <input type="number" placeholder="Cena" [(ngModel)]="cena">
            </div>
            <div class="flex-btn-image">
                <div>
                    <div class="center">
                        <button class="button" (click)="openFileInput()">Dodaj sliku</button>
                        <input type="file" #fileInput style="display: none" (change)="onFileSelected(fileInput)" />
                    </div>
                    <div class="item-radio">
                        <input [(ngModel)]="tip" type="radio" value="kolac" checked id="kolac" class="size-radio">
                        <label for="kolac">Kolač</label> &nbsp;&nbsp;
                        <input [(ngModel)]="tip" type="radio" value="torta" id="torta" class="size-radio">
                        <label for="torta">Torta</label>
                    </div>
                </div>
                <div class="second-item">
                    <img src={{slikaNema}} class="input-picture">
                </div>
            </div>
            <div class="center">
                <button class="submit-button" (click)="dodajProizvod()">Dodaj proizvod</button>
            </div>
        </div>
    </div>
    <div class="overlay" id="dialogOverlay">
        <div class="dialog">
            <div>
                <p>{{tekstPoruke}}</p>
            </div>
            <div>
                <button (click)="closeDialog()">Zatvori</button>
            </div>
        </div>
    </div>
    
</body>