body {
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    height: 100vh;
}

p{
    text-align: center;
    color: #FFF;
    margin-top: 15px;
    font-family: Island Moments;
    font-size: 100px;
    height: 40px;
}

h2 {
    text-align: center;
    color: black;
    font-family: Island Moments;
    font-size: 60px;
    object-fit: contain;
    height: 20px;
    margin-top: -5px;
    padding-top: 10px;
    font-weight: lighter;
}

h3 {
    padding-left: 10px;
    text-align: left;
    color: black;
    font-family: Island Moments;
    font-size: 50px;
    object-fit: contain;
    height: 10px;
    margin-top: -5px;
    font-weight: lighter;
}

.container {
    max-width: 1400px; 
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto; 
    overflow-x: hidden;
    height: 400px;
    background-color: white;
}

.styled-text {
    padding-left: 10px;
    padding-top: 15px;
    text-align: left;
    color: black;
    font-family: Island Moments;
    font-size: 40px;
    object-fit: contain;
}

button {
    background-color: #602112;
    width: 260px;
    color: #FFF;
    font-family: Island Moments;
    font-size: 40px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 30px;
    height: 60px;
}

.button-container{
    max-width: 1400px; 
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.input-text{
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    height: 80px;
    width: 1395px;
    font-size: 40px;
    font-family: Island Moments;
    vertical-align: bottom;
}