body {
    background-image: url('../../assets/background.jpg');
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}

p{
    text-align: center;
    color: #FFF;
    margin-top: 15px;
    font-family: Island Moments;
    font-size: 100px;
    height: 50px;
}

.container {
    max-width: 1400px; 
    margin-left: auto;
    margin-right: auto;
    max-height: 800px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
}

.col-md-4 {
    flex: 0 0 calc(33.333% - 30px);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.card-img-top {
    width: 370px;
    height: 400px;
}

.card-img-top:hover {
    cursor: pointer;
  }

.pagination {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
}

button {
    background-color: #602112;
    width: 200px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Island Moments;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.333px;
    cursor: pointer;
}

span {
    width: 200px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Island Moments;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.333px;
}

@media (max-width: 1150px) {
    .row{
        flex-direction: column;
    }
}