<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Island Moments">
</head>
<body>
    <div>
        <p>Slatki zalogaj</p>
    </div>
    <div class="container">
      <div class="row">
        <div *ngFor="let slatkis of slicedImages[currentPage-1]" class="col-md-4">
          <img [src]="slatkis.slika" (click)="navigateToImage(slatkis)" class="card-img-top">
        </div>
      </div>

      <div class="pagination">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Prethodna strana</button> <&nbsp;>
        <span>Strana {{ currentPage }} od {{ totalPages }}</span> <&nbsp;>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Sledeća strana</button>
      </div>
    </div>

</body>
