body {
    background-image: url('../../assets/background.jpg');
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

p{
    text-align: center;
    color: #FFF;
    margin-top: 15px;
    font-family: Island Moments;
    font-size: 100px;
}

.image{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}