body {
    background-image: url('../../assets/background.jpg');
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}

p{
    text-align: center;
    color: #FFF;
    margin-top: 15px;
    font-family: Island Moments;
    font-size: 100px;
}

h4{
    order:1;
    margin-top: -30px;
    text-align: left;
    color: #FFF;
    font-family: Island Moments;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 60px;
    letter-spacing: -0.333px;
}

.image-container {
    margin-top: -50px;
    justify-content: center;
    display: flex;
}
  
.image-container img {
    width: 28%;
    height: 250px;
    margin-right: 40px;
}

.image-links {
    order: 2;
    justify-content: right;
    margin-right: 65px;
    margin-top: -20px;
}

.image-links img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.image-container1 {
    justify-content: center;
    display: flex;
}

.image-container1 img {
    width: 300px;
    height: 350px;
    margin-right: 40px;
    margin-top: 40px;
}

.nav-bar{
    display: flex;
    margin-top: -70px;
    justify-content: space-between;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 1150px) {
    .image-container{
        flex-direction: column;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .image-container img {
        height: 250px;
        width: 400px;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 650px) {
    .nav-bar {
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }
    .image-container1 img {
        width: 200px;
        height: 250px;
        margin-right: 40px;
        margin-top: 40px;
    }
    h4{
        margin-left: auto;
        margin-right: auto;
    }
    .image-links {
        margin-left: auto;
        margin-right: auto;
    }
}