<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Island Moments">
</head>
<body>
    <form (ngSubmit)="changeCredentials()" ngNativeValidate autocomplete="off">
        <div class="center-one">
            <h2>Promena podataka:</h2>
        </div>
        <div class="center">
            <div class="container">
                <p>Ime:</p><input type="text" name="ime" class="text1" [(ngModel)]="korisnik.ime" required>
            </div>
            <div class="container">
                <p>Prezime:</p><input type="text" name="prezime" class="text1" [(ngModel)]="korisnik.prezime" required>
            </div>
            <div class="container">
                <p>Telefon:</p><input type="text" name="telefon" class="text1" [(ngModel)]="korisnik.telefon" required>
            </div>
            <div class="container">
                <p>Adresa:</p><input type="text" name="adresa" class="text1" [(ngModel)]="korisnik.adresa" required>
            </div>
        </div>
        <br/>
        <div class="center-one">
            <div class="container">
                <p>Korisničko ime:</p><input type="text" name="korisnickoIme" class="text" [(ngModel)]="korisnik.korisnickoIme" required disabled> 
            </div>
            <div class="container">
                <p>Lozinka:</p><input type="text" name="lozinka" class="text2" [(ngModel)]="korisnik.lozinka" required>
            </div>
        </div>
        <div class="center-button">
            <button type="submit" name="Potvrda" value="Potvrda">Potvrda</button>
        </div>
    </form>
    <div class="overlay" id="dialogOverlay">
        <div class="dialog">
            <div>
                <p>{{tekstPoruke}}</p>
            </div>
            <div>
                <button (click)="closeDialog()">Zatvori</button>
            </div>
        </div>
    </div>
</body>