body {
    background-image: url('../../assets/background.jpg');
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}

p {
    text-align: center;
    color: #FFF;
    margin-top: 15px;
    font-family: Island Moments;
    font-size: 100px;
    height: 40px;
}

.container {
    display: flex;
}

.side-by-side1 {
    flex: 1;
    display: flex;
    justify-content: right;
    margin-right: 40px;
}

img {
    width: 600px;
    height: 600px;
}

.side-by-side2 {
    flex: 1;
}

.inside2 {
    padding: 5px;
    background-color: #FFF;
    margin-left: 40px;
    width: 600px;
    height: 450px;
}

.styled-text {
    text-align: left;
    color: black;
    font-family: Island Moments;
    font-size: 40px;
    margin-left: 10px;
    object-fit: contain;
}

button {
    background-color: #602112;
    width: 260px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Island Moments;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.333px;
    cursor: pointer;
    border-radius: 20px;
}

.buttons2 {
    margin-top: 40px;
    margin-left: 70px;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
    .side-by-side1 {
        margin-left: auto;
        margin-right: auto;
    }
    .side-by-side2 {
        margin-left: auto;
        margin-right: auto;
    }
    .inside2 {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .buttons2 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}