<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Island Moments">
</head>
<body>
    <div>
        <p>Slatki zalogaj</p>
    </div>
    <div *ngIf="korisnik.trenutnaPorudzbina.naruceniSlatkisi.length>0" class="center-h4">
        <h4>Porudžbina broj: {{korisnik.trenutnaPorudzbina.broj}}</h4>
    </div>
    <div *ngIf="korisnik.trenutnaPorudzbina.naruceniSlatkisi.length==0" class="center-h5">
        <h5>Nema ničega u korpi</h5>
    </div>

    <div class="container">
        <div class="row">
            <div *ngFor="let naruceni of korisnik.trenutnaPorudzbina.naruceniSlatkisi" class="col-md-4">
                <div class="content" *ngIf="korisnik.trenutnaPorudzbina.naruceniSlatkisi.length>0">
                    <img src={{naruceni.slatkis.slika}}>
                    <div>
                        <div class="text-inside">
                            {{naruceni.slatkis.naziv}}       
                        </div>
                        <div class="images-inside">
                            <img class="vector" src="../../assets/minus.png" (click)="handleMinusClick(naruceni)">
                            <input type="text" value="{{naruceni.kolicina}}" disabled>
                            <img class="vector2" src="../../assets/plus.png" (click)="handlePlusClick(naruceni)">
                            <img class="vector2" src="../../assets/delete.png" (click)="handleDeleteClick(naruceni)">
                        </div>
                        <div class="text-inside">
                            Cena: {{naruceni.slatkis.cena}} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-page" *ngIf="korisnik.trenutnaPorudzbina.naruceniSlatkisi.length>0">
        <h3>Cena ukupno: {{korisnik.trenutnaPorudzbina.cena}} din</h3>
        <button (click)="naruci()"> Naruči </button>
    </div>

</body>
