body {
    background-image: url('../../assets/background.jpg');
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

p{
    text-align: center;
    color: #FFF;
    margin-top: 15px;
    font-family: Island Moments;
    font-size: 100px;
    height: 30px;
}

h5 {
    text-align: center;
    color: #FFF;
    font-family: Island Moments;
    font-size: 60px;
    height: 30px;
    margin-top: 170px;
}

.container-info{
    margin-left: auto;
    margin-right: auto;
    background-color: #3E1911;
    width: 480px;
    height: 280px;
    border-radius: 10%;
}

h4 {
    text-decoration: none;
    color: #FFF;
    font-family: Island Moments;
    font-size: 50px;
    font-style: normal;
    font-weight: 200;
    margin-top: 12px;
    margin-left: 30px;
}

.inside-info-image {
    margin-left: 15px;
}

.inside-info {
    display: flex;
    text-align: left;
    padding: 5px;
    height: 80px;
}

.order-info {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #3E1911;
    width: 380px;
    height: 150px;
    border-radius: 5%;
    margin-top: 20px;
}

.scroll-container{
    margin-top: 20px;
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto; 
    overflow-x: hidden;
    height: 500px;
}

h3 {
    text-decoration: none;
    color: #FFF;
    font-family: Island Moments;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    margin-top: 20px;
    margin-left: 30px;
}

.up{
    height: 30px;
}

.down{
    height: 30px;
}

.status-style{
    margin-top: 30px;
    margin-left: 40px;
}